{% extends 'base.html' %}
{% block content %}
    <h1>Adding Blog Post</h1>
    <form method='POST'>
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.title.label }}
            {{ form.title(class='form-control') }}
            </div>  
        <div class="form-group">
            {{ form.body.label }}
            {{ form.body(class='form-control', rows=10) }}
        </div>
        <div class="form-group">
            {{ form.new_category.label }}
            {{ form.new_category(class='form-control')}}
        </div>
        <div class="form-group">
            {{ form.category.label }}
            {{ form.category }}
        </div>
        {{ form.submit(class='btn btn-primary') }}
    </form>
{% endblock %}




